Jwt_secret=
#test
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=




RAZORPAY_TESTACCESS_USER_EMAIL=
RAZORPAY_TESTACCESS_PASSWORD=
 
PORT=
WS_PORT=
ALLOWED_ORIGINS=
ALLOWED_ADMIN_ORIGINS=


UPDATER_TOKEN=

DATABASE_URL=
REDIS_URL=


#limits
OTP_RATE_LIMIT=
SIGNIN_RATE_LIMIT=
PASSWORD_RESET_RATE_LIMIT=

#  mail credentials
EMAIL_USER=
EMAIL_PASS=

# bot web hook 

BOT_WEBHOOK_URL=

# telegram credentials
TELEGRAM_MESSAGER_BOT_TOKEN=

# TELEGRAM_MESSAGER_BOT_TOKEN=